<div id="css-frameworks">
    <div class="detail"></div>
    <div class="first-column">
        <div class="cards card-1">
            <img src="../../assets/bootstrap-logo.png" alt="bootstrap-logo">
            <h3>Bootstrap</h3>
            <p>Bootstrap, originally named Twitter Blueprint is a free and open-source CSS framework directed at
                responsive, mobile-first front-end web
                development.</p>
        </div>

        <div class="cards card-2">
            <img src="../../assets/materialize-css.png" alt="materialize-css-logo">
            <h3>Materialize</h3>
            <p>Materialize CSS is a UI component library which is created with CSS, JavaScript and HTML. Material Design
                is a design language that Google developed in 2014.</p>
        </div>
        <div class="hidden-div"></div>
    </div>

    <div class="second-column">
        <div class="hidden-div"></div>
        <div class="cards card-3">
            <img src="../../assets/semantic-ui.png" alt="semantic-ui-logo">
            <h3>Semantic UI</h3>
            <p>Semantic UI is a modern CSS framework, powered by LESS and jQuery. It has a sleek,
                subtle, and flat design look that provides a lightweight user experience.</p>
        </div>

        <div class="cards card-4">
            <img src="../../assets/bulma.png" alt="bulma-logo">
            <h3>Bulma</h3>
            <p>Bulma is a free, open source CSS framework based on Flexbox and built with Sass. It's 100% responsive,
                fully modular, and available for free.</p>
        </div>
    </div>

    <div class="description">
        <h2>Popular CSS frameworks</h2>
        <p>
            A CSS framework is a library allowing for easier, more standards-compliant web design using the Cascading
            Style Sheets language. Most of these frameworks contain at least a grid. More functional frameworks also
            come with more features and additional JavaScript based functions, but are mostly design oriented and
            focused around interactive UI patterns. This detail differentiates CSS frameworks from other JavaScript
            frameworks.

            Two notable and widely used examples are Bootstrap and Foundation.

            CSS frameworks offer different modules and tools:

            reset style sheet
            grid especially for responsive web design
            web typography
            set of icons in sprites or icon fonts
            styling for tooltips, buttons, elements of forms
            parts of graphical user interfaces like accordion, tabs, slideshow or modal windows (Lightbox)
            equalizer to create equal height content
            often used CSS helper classes (left, hide)
        </p>
    </div>
</div>