<div id="js-frameworks">
    <h2>Popular JavaScript Frameworks</h2>

    <div class="popular-frameworks react">
        <img src="../../assets/react-logo.png" alt="react-logo">
        <a class="behind" href="https://reactjs.org/" target="_blank">React official site</a>
        <h3>React framework</h3>
        <p>React (also known as React.js or ReactJS) is an open-source, front end, JavaScript library for building user
            interfaces or UI components. It is maintained by Facebook and a community of individual developers and
            companies. React can be used as a base in the development of single-page or mobile applications</p>
    </div>

    <div class="popular-frameworks angular">
        <img src="../../assets/angular-logo.png" alt="angular-logo">
        <a class="behind" href="https://angular.io/" target="_blank">Angular official site</a>
        <h3>Angular framework</h3>
        <p>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source
            web application framework led by the Angular Team at Google and by a community of individuals and
            corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
    </div>

    <div class="popular-frameworks vue">
        <img src="../../assets/vue-logo.png" alt="vue-logo">
        <a class="behind" href="https://vuejs.org/" target="_blank">Vue.js official site</a>
        <h3>Vue.js framework</h3>
        <p>Vue.js (commonly referred to as Vue) is an open-source model–view–viewmodel
            front end JavaScript framework for building user interfaces and single-page applications. It was created by
            Evan You, and is maintained by him and the rest of the active core team members coming from various
            companies.</p>
    </div>

</div>