<div id="skills">
    <h2>Front End Developer Skills you need to Know</h2>
    <div class="style-details"></div>
    <div class="gallery">
        <figure class="gallery-item item-1">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/cross-browser.jpg" alt="cross-browser">
                </div>
                <div class="back-side">
                    <h3>Cross-Browser Development</h3>
                    <p>Modern browsers are getting pretty good at displaying websites consistently, but there are still
                        differences in how they interpret code behind the scenes. That’s what cross-browser development
                        is all about.</p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-2">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/git-logo.png" alt="git">
                </div>
                <div class="back-side">
                    <h3>Git</h3>
                    <p>
                        Git is a distributed version-control system for tracking changes in source code during software
                        development.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-3">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/problem-solving.jpg" alt="problem-solving">
                </div>
                <div class="back-side">
                    <h3>Problem Solving Skills</h3>
                    <p>
                        If there’s one thing that all front end developers have to have, it’s excellent problem solving
                        skills. From figuring out how to
                        best implement a design, to fixing bugs that crop up etc.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-4">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/jquery-logo.png" alt="jquery-logo">
                </div>
                <div class="back-side">
                    <h3>jQuery</h3>
                    <p>
                        jQuery is a JavaScript library: a collection of plugins and extensions that makes developing
                        with JavaScript faster and easier.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-5">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/responsive-design.jpg" alt="responsive-design">
                </div>
                <div class="back-side">
                    <h3>Responsive web design</h3>
                    <p>
                        Responsive web design (RWD) is an approach to web design that makes web pages render well on a
                        variety of devices and window or screen sizes.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-6">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/less-sass.png" alt="sass-and-less">
                </div>
                <div class="back-side">
                    <h3>CSS Preprocessors</h3>
                    <p>
                        Preprocessors are another element that a front end developer can use to speed up CSS coding.
                        SASS and LESS are the two most popular.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-7">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/testing.png" alt="testing">
                </div>
                <div class="back-side">
                    <h3>Testing and Debugging</h3>
                    <p>
                        It’s a fact of life for a front end web developer: bugs happen. Being familiar with testing and
                        debugging processes is vital.
                    </p>
                </div>
            </div>
        </figure>

        <figure class="gallery-item item-8">
            <div class="card">
                <div class="front-side">
                    <img src="../../assets/typography.jpg" alt="typography">
                </div>
                <div class="back-side">
                    <h3>Typography</h3>
                    <p>
                        Front-end developers may not need to be experts in every aspect of typography, but it’s really
                        important to know the basics. Devs need to be able to effectively talk type with designers and
                        clients.
                    </p>
                </div>
            </div>
        </figure>
    </div>
</div>