<div id="text-editors">
    <h2>The 5 Best Code Editors</h2>
    <a href="https://www.sublimetext.com/" target="_blank">
        <div class="icons sublime">
            <img src="../../assets/sublime_text.png" alt="sublime-logo">
        </div>
    </a>
    <a href="https://atom.io/" target="_blank">
        <div class="icons atom">
            <img src="../../assets/atom-icon.png" alt="atom-logo">
        </div>
    </a>
    <a href="https://code.visualstudio.com/" target="_blank">
        <div class="icons visual">
            <img src="../../assets/visual-studio-code.png" alt="visual-studio-code-logo">
        </div>
    </a>
    <a href="https://notepad-plus-plus.org/downloads/" target="_blank">
        <div class="icons notepad++">
            <img src="../../assets/notepad++.png" alt="notepad++-logo">
        </div>
    </a>
    <a href="http://brackets.io/" target="_blank">
        <div class="icons brackets">
            <img src="../../assets/brackets.png" alt="brackets-logo">
        </div>
    </a>

</div>