@import '../../colors';

%bottom-line {
    text-decoration: none;
            padding-bottom: 7px;
            margin: 4px;
            color: $text-light-color;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 3px;
                left: 0;
                bottom: 0px;
                background-color: $secondary-light-color;
            }
}

#nav-bar {
    background-color: $primary-dark-color;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    ul, li {
        display: inline-block;
        list-style-type: none;
        margin: .2em;

        .active {
            color: $secondary-light-color!important;
            @extend %bottom-line;
            &::after {       
                width: 100%!important;
            }
        }

        .links {
            @extend %bottom-line;

            &::after {       
                width: 0;
                transition: width linear .2s;
            }

            &:hover {
                color: $secondary-light-color;
                
            }

            &:hover::after {
                width: 100%;
            }

        }

        .icon-hamburger, .icon-close {
            display: none;
            font-size: 2.4em;
            color: $text-light-color;
            position: absolute;
            line-height: 1.4em;
            top: 0;
            right: 1.5em;
        }

        .list {
            display: block;
            padding: .3em;
        }
        
    }

}

@media screen and (max-width: 1200px) {
    #nav-bar {

         li {
            display: inline-block;
        }

    }
    
}

@media screen and (max-width: 768px) {
    #nav-bar {
    
        ul {
            padding-left: 10px;
            .visible {
                display: block;
            }
        }

        li {
            display: none;
        }
    }
}