<nav id="nav-bar">
    <ul>
        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/frontend-development"
                class="links" (click)="clickScroll('frontend')">Frontend development</a>
        </li>

        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" routerLink="/css-frameworks" class="links"
                (click)="clickScroll('css-frameworks')">CSS Frameworks</a>
        </li>

        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" routerLink="/js-frameworks" class="links"
                (click)="clickScroll('js-frameworks')">JS frameworks</a>
        </li>

        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" routerLink="/skills" class="links" (click)="clickScroll('skills')">Skills</a>
        </li>

        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" routerLink="/text-editors" class="links"
                (click)="clickScroll('text-editors')">Text editors</a>
        </li>

        <li [ngClass]="show ? 'list': ''">
            <a routerLinkActive="active" routerLink="/quiz" class="links" (click)="clickScroll('quiz')">Quiz</a>
        </li>
        <i [ngClass]="show ? 'hide' : ''" class="fas fa-bars icon-hamburger" (click)="showMenu()"></i>
        <i [ngClass]="!show ? 'hide' : ''" class="fas fa-times icon-close" (click)="closeMenu()"></i>
    </ul>

</nav>